@import '~src/app/theme.scss';

.navbar {
  background-color: $main-color;
  height: 56px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;

  & ul {
    display: flex;

    & li {
      margin: 5px;
    }
  }

  & a {
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 0.5;
    }
  }
}

.active {
  opacity: 0.5;
}
